<div class="pickadate">
  <div class="pickadate-header">
    <div class="pickadate-controls">
      <a href="" class="pickadate-prev" ng-click="changeMonth(-1)" ng-show="allowPrevMonth">prev</a>
      <a href="" class="pickadate-next" ng-click="changeMonth(1)" ng-show="allowNextMonth">next</a>
    </div>
    <h3 class="pickadate-centered-heading">{{currentDate | date:"MMMM yyyy"}}</h3>
  </div>
  <div class="pickadate-body">
    <div class="pickadate-main">

      <ul class="pickadate-cell">
        <li class="pickadate-head" ng-repeat="dayName in dayNames">{{dayName}}</li>
      </ul>

      <ul class="pickadate-cell">
        <li ng-repeat="d in dates" ng-click="setDate(d)"
          class="{{d.className}}" ng-class="{'pickadate-active': date == d.date}">

          {{d.date | date:"d"}}
        </li>
      </ul>

    </div>
  </div>
</div>
